<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="mh.css">
</head>
<style>
    body{
    /* background-color: blueviolet; */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a:link, a:visited { /* or a[href] */
    /* Enabled link styles */
    color: inherit;
  }
.navbar
{
    background-color: #343434;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .logo
{
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.navbar .logo-1
{
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.navbar li{
    list-style: none;
    display: inline;
    margin: 20px;
    color: white;
}
</style>
<body>
    <nav id="navbar" class="navbar">
        <diV class="logo"><a href="/">COGNISENSE</a></diV>
        <div>
            <ul>
                <li>About</li>
                <li>Services</li>
                <li>Contact Us</li>
            </ul>
        </div>
    </nav>
    <h1>Your inputs were recorded successfully!</h1>
    <a href="/"><button class="ui blue button">Confirm</button></a>
</body>
</html>